[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
boto3 = "*"
pymysql = "*"
django-debug-toolbar = "*"
cryptography = "*"


[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.11"
